<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Mutably Front-end</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Pokémon</div>
        <button>Get all Pokemon</button>
        <div class="new-pokemon-form">
          <form>
            <div class="form-group">
              <label for="pokemon-name">Pokémon's Name: </label>
              <input type="text" name="pokemon-name" placeholder="Pokémon's name">
            </div>
            <div class="form-group">
              <label for="pokemon-pokedex">Pokédex: </label>
              <input type="text" name="pokemon-name" placeholder="Pokédex">
            </div>
            <div class="form-group">
              <label for="pokemon-evolves-from">Evolves from: </label>
              <input type="text" name="pokemon-evolves-from" placeholder="Evolves from">
            </div>
            <div class="form-group">
              <label for="pokemon-image">Image URL: </label>
              <input type="text" name="pokemon-image" placeholder="Image URL">
            </div>
            <button>Submit new Pokémon</button>
          </form>
        </div>
        <ul class="list-group">
          <!-- your resource items here -->
        </ul>
      </div>
      <div class="panel panel-default">
        <form>
      </div>
    </div>
  </body>
</html>
