<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Mutably Front-end</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Pokémon</div>
        <button id="get-btn">Get Pokémon</button>
        <div class="new-pokemon">
          <h2>Add a new Pokémon!</h2>
          <form id="new-pokemon-form">
            <div class="form-group">
              <label for="name">Pokémon's Name: </label>
              <input type="text" name="name" id="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="pokedex">Pokédex: </label>
              <input type="text" name="pokedex" id="pokedex" placeholder="Pokédex">
            </div>
            <div class="form-group">
              <label for="evolves_from">Evolves from: </label>
              <input type="text" name="evolves_from" id="evolves_from" placeholder="Evolves from">
            </div>
            <div class="form-group">
              <label for="image">Image URL: </label>
              <input type="text" name="image" id="image" placeholder="Image URL">
            </div>
            <button type="submit" class="btn">Submit new Pokémon</button>
          </form>
        </div>
        <div id="all-pokemon">
          <ul class="list-group">
            <!-- your resource items here -->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
